<div class="container">
  <h1 class="text-center">Welcome, {{ user.username }}</h1>

  <div class="container">
    <h1 class="lead">You should try creating a raffle to incentivize your donors!</h1>
    <a class="btn btn-primary" data-ui-sref="index.create">Create</a>
  </div>

  <div class="container">
    <h1 class="lead">Here are the awesome raffles you've already started:</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="raffle in raffles">
        <span ng-bind="'Raffle #' + raffle.id"></span>
        <span class="badge" ng-bind="raffle.status"></span>
      </li>
    </ul>
  </div>


</div>
