<div class="container">
  <h1 class="text-center">Create a new prize!</h1>

  <form class="create-form col-md-8 col-md-offset-2" ng-submit="prize.save()">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" ng-model="prize.name">
    </div>
    <div class="form-group">
      <label for="tier">Tier</label>
      <input class="form-control" type="number" name="tier" ng-model="prize.tier">
    </div>
    <div class="form-group">
      <label for="image_url">Image URL</label>
      <input class="form-control" type="text" name="image_url" ng-model="prize.image_url">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" ng-model="prize.description"></textarea>
    </div>
    <button class="btn btn-primary btn-lg">Submit!</button>
  </form>
</div>
