<div class="container">
  <h1 class="text-center">Create a new raffle!</h1>

  <form class="create-form col-md-8 col-md-offset-2" ng-submit="raffle.save()">
    <div class="form-group">
      <label for="campaign">Select a Campaign</label>
      <select
        class="form-control"
        name="campaign"
        ng-model="raffle.campaign_id"
        ng-options="campaign.id as campaign.name for campaign in campaigns"
        ng-required="true">
        <option value="">Please select a campaign</option>
      </select>
    </div>

    <div class="form-group">
      <label for="start_time">Start time</label>
      <input class="form-control"
        type="text"
        name="start_time"
        class="form-control"
        uib-datepicker-popup="dd-MMMM-yyyy"
        ng-model="raffle.start_time"
        is-open="dateStatus.start_time.opened"
        datepicker-options="{formatYear: 'yy',startingDay: 2}"
        ng-required="true"
        ng-click="openTime('start_time')"
        close-text="Close" />
    </div>

    <div class="form-group">
      <label for="start_time">End time</label>
      <input type="text"
        class="form-control"
        name="end_time"
        uib-datepicker-popup="dd-MMMM-yyyy"
        ng-model="raffle.end_time"
        is-open="dateStatus.end_time.opened"
        min-date="raffle.start_time"
        datepicker-options="{formatYear: 'yy',startingDay: 1}"
        ng-required="true"
        ng-click="openTime('end_time')"
        close-text="Close" />
    </div>

    <div class="form-group">
      <label for="status">Raffle Status</label>
      <select name="status"
        ng-model="raffle.status"
        ng-options="key as value for (key, value) in statusOptions"
        class="form-control"
      ></select>
    </div>

    <div class="form-group">
      <h2>Prizes</h2>
      <div class="list-group">
        <div class="list-group-item" ng-if="!raffle.prizes.length">
          <h4 class="list-group-item-heading">No prizes!</h4>
          <p class="list-group-item-text">You don't have any prizes for this raffle yet. Add some below!</p>
        </div>
        <div class="list-group-item" ng-repeat="prize in raffle.prizes">
          <label ng-bind="getPrizeName(prize.id)"></label>
          <span ng-bind="getPrizeAmount(prize.id)"></span>
          <a class="badge" ng-click="removePrize(prize.id)">Remove</a>
        </div>
      </div>

      <div class="container">
        <h3>Add a prize</h3>
        <div class="form-group col-md-6">
          <label class="control-label" for="prizeAmount">Choose an amount to add</label>
          <input class="form-control input-sm" type="number" ng-model="newPrize.amount" />
          <br>
          <label class="control-label" for="prizeId">Choose a prize</label>
          <select class="form-control input-sm"
            name="prizeId"
            ng-options="prize.id as prize.name for prize in prizes"
            ng-model="newPrize.id">
            <option value="">Select a prize to add</option>
          </select>
          <br>
          <a class="btn btn-info btn-small" ng-click="addPrize()">Add prize</a>
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-lg">Submit!</button>
  </form>
</div>
