<!DOCTYPE html>
<html lang="en" data-ng-app="raffle" data-ng-strict-di>
<head>
  <title>ClassyHackathon2015</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
